body{
    font-family: 'helvetica';
    font-size:12px;
    color: #000;
    margin:0px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #C2C2C2;
  cursor:pointer;
}

.x.axis path {
  display: none;
}

p{
    font-size:13px;
    line-height: 16px;
}

@font-face{
  font-family: 'cabin';
  src: url(../fonts/Cabin.otf);
}

@font-face{
  font-family: 'college';
  src: url(../fonts/COLLEGE.TTF);
}

.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 0px;
  text-decoration: none;
}

.node circle{
  opacity:0.0;
}

.node text {
  font-family: 'cabin';
  font-size: 25px;
  position:absolute;
  stroke-width: 0px;
  /*stroke: #000000;*/
  fill:#ffffff;
  pointer-events:none;
  opacity:0.0;
}
.empty{
  opacity:0.0;
}
.opaque{
  opacity:1.0;
}

#bubbles{
    margin:auto;
    width:880px;
}

#bar{
    margin:auto;
    width:880px;
    margin-top: -470px;
}

.bubbleArea{
    width:880px;
    margin:auto;
    height: 40px;
}
#typeInfo{
    
}
.A{
    position:relative;
    display:inline-block;
    margin: 15px 105px 0px 55px;
}
.B{
    position:relative;
    display:inline-block;
}
.C{
    position:relative;
    display:inline-block;
    margin: 0px 92px 0px 76px;
}
.D{
    position:relative;
    display:inline-block;
}

#mostToLeast{
    font-size: 30px;
    line-height: 15px;
    margin-top: 12px;
}

.most{
    margin: 0px 0px 0px 93px;
}

.least{
    float:right;
    margin: 0px 35px 0px 0px;
}

.headerText{
    height: 75px;
    margin: auto;
    /*width: 80%;*/
}

.blankBalls{
    background-image: url(../images/ballBlank.png);
    background-size: contain;
    height: 70px;
    width: 70px;
    position: relative;
    display: inline-block;
    margin: 5px -4px 0px 0px;
    padding: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.blankBallsRed{
    background-image: url(../images/ballBlankRed.png);
    background-size: contain;
    height: 70px;
    width: 70px;
    position: relative;
    display: inline-block;
    margin: 0px -7px 0px 30px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 52px;
    color:#ffffff;
}

.college{
    font-family: 'college';
    font-size: 60px;
    margin-left:30px;
}

.right{
    float:right;
}

.left{
    float:left;
}

.sixty{
    width:59.5%;
    position:relative;
    display:inline-block;
}

.forty{
    width:40%;
    position:relative;
    display:inline-block;
}

.noBreak{
    width:800px;
    margin:auto;
}

.selected {
    -webkit-box-shadow: 0px 4px 0px 0px #ED4E4E;
    box-shadow: 0px 4px 0px 0px #ED4E4E;
    -moz-box-shadow: 0px 4px 0px 0px #ED4E4E;
    background-color: #000000 !important;
}